* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}


body {
  background-color: #FAFAFA;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  border-bottom: 1px solid grey;
  margin: auto;
  padding-bottom: 40px;
  background-color: #FAFAFA;
}

.logo {

  font-family: "Oleo Script", cursive;
  font-weight: bolder;
  font-size: 26px;
  font-style: italic;
  color: black;
  text-decoration: none;
  line-height: 70px;
  margin-left: 20px;
  cursor: pointer;
}

nav ul {
  float: right;

}

nav ul li {
  font-family: sans-serif;
  display: inline-block;
  font-size: 19px;
  line-height: 70px;
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #0f298b;
  font-style: bold;
}

nav ul li a:hover {
  color: black;
  transition: .3s;
}

button {
  border: none;
  background-color: #0f298b;
  padding: 12px 30px;
  border-radius: 5.14468px;

  color: #FAFAFA;
  font-weight: bold;
  font-size: 15px;
  transition: .4s;

}

img {
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;

}

#hero {
  height: 50vh;
  width: 100%;
  text-decoration: none;
  padding-top: 5rem;

}

#hero .container {
  display: flex;
  align-items: center;
  justify-items: center;

}

#hero .container .left {
  flex: 6;
}

#hero .container .right {
  flex: 8;
  margin-top: 200px;
}

#hero .left .subheading {

  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 21px;
  padding-top: 30px;
}

#hero .left .heading {
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 42px;
  color: #0f298b;

}

#hero .left .button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  margin: 30px;
  padding: 0.7rem;

}

#hero .left .button svg {
  width: 70px;
  color: #0f298b;
  padding-left: 30px;

}

#hero .left .button .herobutton {
  display: inline-block;
  background-color: #0f298b;
  color: #FAFAFA;
  border-radius: 5.14468px;
  padding: 0.4rem 0.6rem;
  text-decoration: none;
  font-size: 15px;
  padding: 12px 30px;

}

.filter {
  width: 70vw;
  font-family: "Space Grotesk";
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  padding: 1.5em;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.filter li {
  list-style: none;
}

.filter li:first-child {
  color: #0f298b;
  font-weight: 600;
}

.filter li i {
  margin-left: 0.7em;
  font-size: 2rem;
}

.filter span {
  color: #fafafa;
  font-weight: 600;
  padding: 0.5em 0.2em;
  background-color: #0f298b;
  border-radius: 5px;
}

h2.prod {
  color: #0f298b;
  font-family: "Space Grotesk";
  font-size: 2.5vw;
  position: relative;
  left: 10vw;
  width: 80vw;
  margin-top: 20vh;
}

.wr {
  font-family: "Space Grotesk";
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 3vh;
}

.wr h2 {
  color: #0f298b;
}

.testimonial-heading h3 {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 61px;
  text-align: center;
  color: #0f298b;
}


.testimonial-heading p {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: black;
}

.item {
  width: 24rem;
  height: 18rem;
  border-radius: 18.6868px;
  box-shadow: 12px 12px 24px rgba(37, 73, 211, 0.05);
}

.item h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 38px;
  color: #000000;
}

.item h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 25px;

  color: #000000;
}

.item p {

  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 29px;

  color: rgba(0, 0, 0, 0.7);
}

#card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #FAFAFA;
}

.testimonal-btn {
  display: flex;
  justify-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.footer {
  background-color: #0f298b;

}

.mainfooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #FAFAFA;
  justify-content: space-evenly;
  margin-left: 40px;
  margin-top: 50px;

}

.footer-subheading h4 {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 1rem;
}

.footer-subheading p {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 33px;

}

.footertext h4 {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 2rem;
}

.footertext p {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 2rem;
}

.feature {
  justify-items: center;
  margin-top: 200px;
  border: #FAFAFA;
}

.feature_heading {
  text-align: center;
}

.feature_heading h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 61px;

  color: #0f298b;
  padding-bottom: 20px;

}

.feature_heading p {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 30px;
  text-align: center;

  color: rgba(0, 0, 0, 0.81);
  padding-bottom: 20px;

}

.featurebtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;

  align-items: center;
}

.featurecard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.featurecards {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  box-shadow: 12px 12px 24px rgba(37, 73, 211, 0.05);
  border-radius: 10px;
}

.featurecard :hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  cursor: pointer;
}

.featurecard {
  font-family: "Space Grotesk", sans-serif;
  align-items: flex-start;
  padding: 7px 15px 14.px 38px;
  width: 20rem;
  height: 16rem;
  border-radius: 0px 39.7214px;
}

.featurecards .card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.card-body p:first-child {
  font-weight: 600;
}

.featuresection {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.products {
  justify-items: center;
}


.producttitle h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 61px;
  text-align: center;
  color: #0f298b;

}

.producttitle h1 {
  font-size: 2.5rem;
  font-family: "Space Grotesk";
  font-weight: 600;
  color: #0f298b;
  margin-left: 15%;
}

.producttitle p {
  font-family: "Space Grotesk";
  font-size: 1.5rem;
  line-height: 30px;
  text-align: center;
  color: black;
  padding-bottom: 40px;
}

.productcard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
}

.productscard {
  padding: 1.5rem 1.2rem;
  gap: 26.24px;
  width: 18rem;
  height: 25rem;
  background: #FAFAFA;
  box-shadow: 12px 12px 24px rgba(37, 73, 211, 0.05);
  border-radius: 10px;

}

.cardimage1 {
  height: 150px;
  margin-bottom: 50px;

}


.productcard :hover {
  transform: scale(1.1);
}

.cardb h4 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0.4rem;
  color: #000;

}

.cardb p {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 28px;
  text-align: centre;
  color: black;
}

@media (min-width: 1240px) {
  .container {
    max-width: 1290px !important;
    margin: auto !important;
    height: 100%;
  }
}